<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        
        <%- include('./composants/header') %>

        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus eos explicabo qui doloremque possimus et accusamus? Mollitia earum architecto magni officiis, at repellendus vel distinctio aperiam? Repellat officia non odio ab ratione dolores. Voluptates, facilis eligendi neque expedita sunt iure saepe ducimus eveniet optio voluptatibus cum omnis, sed, ea excepturi quam aspernatur ex esse ad velit impedit exercitationem at aperiam! Et, vitae blanditiis. Autem deleniti quidem nulla ducimus sint, natus fuga, ipsam nesciunt optio mollitia quasi corporis rem cum explicabo in? Reprehenderit assumenda impedit fugiat minus ipsum harum repudiandae necessitatibus ducimus commodi perspiciatis. Consectetur qui provident, ea laborum corporis et!</p>
        </section>

    </div>
</body>
</html>